<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Sales Channel</title>
        <title lang="de-DE">Sales Channel</title>
        <input-field type="bool">
            <name>CanadaTaxProviderUseGlobally</name>
            <label lang="en-GB">Apply to all Sales Channels?</label>
            <label lang="de-DE">Auf alle Vertriebskanäle anwenden?</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-entity-multi-id-select">
            <name>CanadaTaxProviderAllowedSalesChannels</name>
            <entity>sales_channel</entity>
            <label>Enable for specific Sales Channels (only used if above is false)</label>
        </component>

    </card>
    <card>
	    <title>Canada Tax Settings</title>
        <title lang="de-DE">Canada Tax Settings</title>

        <input-field type="text">
            <name>CanadaTaxProviderAB</name>
            <label>Alberta (AB)</label>
            <defaultValue>5</defaultValue>
            <placeholder>5</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderBC</name>
            <label>British Columbia (BC)</label>
            <placeholder>5,7</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderMB</name>
            <label>Manitoba (MB)</label>
            <placeholder>5,7</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderNB</name>
            <label>New Brunswick (NB)</label>
            <placeholder>15</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderNL</name>
            <label>Newfoundland (NL)</label>
            <placeholder>15</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderNS</name>
            <label>Nova Scotia (NS)</label>
            <placeholder>14</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderON</name>
            <label>Ontario (ON)</label>
            <placeholder>13</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderPE</name>
            <label>Prince Edward Island (PE)</label>
            <placeholder>15</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderQC</name>
            <label>Quebec (QC)</label>
            <placeholder>5,9.975</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderSK</name>
            <label>Saskatchewan (SK)</label>
            <placeholder>5,6</placeholder>
        </input-field>

        <input-field type="text">
            <name>CanadaTaxProviderYT</name>
            <label>Yukon (YT)</label>
            <placeholder>5</placeholder>
        </input-field>
    </card>
</config>

