<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    
    <card>
        <title>Canada tax basic settings</title>
        <title lang="de-DE">Grundeinstellungen für den Kanadische Steuersatz</title>

        <!-- Maybe it will be added in the next version.
        <input-field type="text">
            <name>GstNumber</name>
            <defaultValue></defaultValue>
            <label>GST Number</label>
            <label lang="de-DE">GST Number</label>
        </input-field>
        <input-field type="text">
            <name>PstQstNumber</name>
            <defaultValue></defaultValue>
            <label>PST/QST Number</label>
            <label lang="de-DE">PST/QST Number</label>
        </input-field>
        <input-field type="text">
            <name>HstNumber</name>
            <defaultValue></defaultValue>
            <label>HST Number</label>
            <label lang="de-DE">HST Number</label>
        </input-field>

        <input-field type="bool">
            <name>TaxBreakdown</name>
            <defaultValue>true</defaultValue>
            <label>Show tax breakdown?</label>
            <label lang="de-DE">wie ist die Steueraufschlüsselung?</label>
        </input-field> 
        -->

        <input-field type="bool">
            <name>FreightTaxable</name>
            <defaultValue>true</defaultValue>
            <label>Freight is taxable?</label>
            <label lang="de-DE">Fracht ist steuerpflichtig?</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in British Columbia(BC)</title>
        <title lang="de-DE">Steuersätze in British Columbia(BC)</title>

        <input-field type="float">
            <name>TaxGstBC</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstBC</name>
            <defaultValue>7</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Alberta(AB)</title>
        <title lang="de-DE">Steuersätze in Alberta(AB)</title>

        <input-field type="float">
            <name>TaxGstAB</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstAB</name>
            <defaultValue>0</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Saskatchewan(SK)</title>
        <title lang="de-DE">Steuersätze in Saskatchewan(SK)</title>

        <input-field type="float">
            <name>TaxGstSK</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstSK</name>
            <defaultValue>6</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Manitoba(MB)</title>
        <title lang="de-DE">Steuersätze in Manitoba(MB)</title>

        <input-field type="float">
            <name>TaxGstMB</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstMB</name>
            <defaultValue>7</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Ontario(ON)</title>
        <title lang="de-DE">Steuersätze in Ontario(ON)</title>

        <input-field type="float">
            <name>TaxHstON</name>
            <defaultValue>13</defaultValue>
            <label>HST</label>
            <label lang="de-DE">HST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Quebec(QC)</title>
        <title lang="de-DE">Steuersätze in Quebec(QC)</title>

        <input-field type="float">
            <name>TaxGstQC</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="text">
            <name>TaxQstQC</name>
            <defaultValue>9.975</defaultValue>
            <label>QST</label>
            <label lang="de-DE">QST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in New Brunswick(NB)</title>
        <title lang="de-DE">Steuersätze in New Brunswick(NB)</title>

        <input-field type="float">
            <name>TaxHstNB</name>
            <defaultValue>15</defaultValue>
            <label>HST</label>
            <label lang="de-DE">HST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Prince Edward Island(PE)</title>
        <title lang="de-DE">Steuersätze in Prince Edward Island(PE)</title>

        <input-field type="float">
            <name>TaxHstPE</name>
            <defaultValue>15</defaultValue>
            <label>HST</label>
            <label lang="de-DE">HST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Nova Scotia(NS)</title>
        <title lang="de-DE">Steuersätze in Nova Scotia(NS)</title>

        <input-field type="float">
            <name>TaxHstNS</name>
            <defaultValue>14</defaultValue>
            <label>HST</label>
            <label lang="de-DE">HST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Newfoundland(NL)</title>
        <title lang="de-DE">Steuersätze in Newfoundland(NL)</title>

        <input-field type="float">
            <name>TaxHstNL</name>
            <defaultValue>15</defaultValue>
            <label>HST</label>
            <label lang="de-DE">HST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Yukon(YT)</title>
        <title lang="de-DE">Steuersätze in Yukon(YT)</title>

        <input-field type="float">
            <name>TaxGstYT</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstYT</name>
            <defaultValue>0</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Northwest Territories(NT)</title>
        <title lang="de-DE">Steuersätze in Northwest Territories(NT)</title>

        <input-field type="float">
            <name>TaxGstNT</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstNT</name>
            <defaultValue>0</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

    <card>
        <title>Tax rates in Nunavut(NU)</title>
        <title lang="de-DE">Steuersätze in Nunavut(NU)</title>

        <input-field type="float">
            <name>TaxGstNU</name>
            <defaultValue>5</defaultValue>
            <label>GST</label>
            <label lang="de-DE">GST</label>
        </input-field>

        <input-field type="float">
            <name>TaxPstNU</name>
            <defaultValue>0</defaultValue>
            <label>PST</label>
            <label lang="de-DE">PST</label>
        </input-field>
    </card>

</config>

